<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Football Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>MFL 2024-25</h1>
    <table id="teamsTable">
        <thead>
            <tr>
                <th>Team</th>
                <th>Conference</th>
                <th>Record <button class="sort-btn" data-sort="record">↕</button></th>
                <th>Luck Adjusted Points For <button class="sort-btn" data-sort="luck_adjusted_points_for">↕</button></th>
                <th>Strength of Schedule</th>
                <th>Projected Wins <button class="sort-btn" data-sort="projected_wins">↕</button></th>
                <th>Playoff Chance <button class="sort-btn" data-sort="playoff_chance">↕</button></th>
                <th>M.O.N.K.E.<button class="sort-btn" data-sort="monke_score">↕</button></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>