<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Football League</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>MFL 2024-25 Season</h1>
    <table id="teams-table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Conference</th>
                <th>W-L</th>
                <th>PF</th>
                <th>PA</th>
                <th>LAPF</th>
                <th>SOS</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
